html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html{
	scroll-behavior: smooth;
}

/*Section One*/


.section1{
	box-sizing: border-box;
    background-color: #ffe8d6;
    width:100%;
    height:900px;
	display: flex;
	flex-direction: column;
	
}
navigation{
	box-sizing: border-box;
	padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#nav_elements{
	box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:350px;
	font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
	
}
.nav_elements_colour{
	color: #111111 !important;
	text-decoration: none !important;
}
#nav_buttons{
	font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    display:flex;
    flex-direction:row;
}
#nav_title{
	font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    font-weight: 900;
}
#nav_buttons_free_trial{
	font-size: 15px;
	margin-left: 10px;
	padding: 4px;
	color: white;
	border-color: black;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	background-color: #462502;
}

header,p-navigation{
	background-color: #2e3138 !important;
}
span.white{
	color: white !important;
}
.vanilla_cuconut{
	font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3em;
    font-weight: 900;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.content_main{
	box-sizing: border-box;
	display:flex;
	justify-content: space-between;
	justify-self: center;
	margin-top: auto;
	margin-bottom: auto;
	/* align-self: center; */
	padding: 2%;
}
#content_main_one{
	font-family: 'Roboto Condensed', sans-serif;
}
p#content_main_one_p{
	line-height: 1;
}
#content_main_one_LineOne{
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
}
#content_main_one_LineTwo{
	font-family: 'Mate SC', serif;
    font-weight: 900;
    font-size:120px;
}
#content_main_one_LineThree{
	font-family: 'Mate SC', serif;
    font-weight: 900;
    font-size:62px;
}
#content_main_one_LineFour{
	font-size: 35px;
}
#content_main_one_LineFive{
	font-family: 'Mate SC', serif;
    font-weight: 900;
    font-size:37px;
}
#illustration_one{
	box-sizing: border-box;
	width:500px;
}
#content_main_three{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
#content_main_three_LineOne{
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
}
#content_main_three_LineTwo{
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
	font-weight: 600;
}


/* Pricing Panel */

.section_two{
	box-sizing: border-box;
	width:100%;
    height:800px;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.pricing_panel{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:100%;
    height:800px;

}
.Free_Tier{
	color: brown;
    border-radius: 10px;
    border-color: #f8edeb;
    border-style: solid;
    border-width: 1px;
    width:22em;
    height:28em;
    background-color:#f8edeb;
    padding: 3%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.Paid_Tier{
	color: white;
    border-color: #264653;
    background-color:#264653;
    justify-content:center;
	/* color: brown; */
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    width:22em;
    height:28em;
    padding: 3%;
	display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
p.table_heading{
	font-size: 40px;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
	text-align: center;
}
tr.Paid_Tier_border{
	border-color:grey !important;
	border-width: 1px !important;
}
.Pricing_Button{
	justify-self: flex-end;
	margin: auto auto 0 auto;
	padding: 4px 8px 4px 8px;
	width: 150px;
	border:1px solid #c77dff;
	border-radius: 10px;
	background-color: #c77dff;
	/* text-align: center; */
	font-size:20px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;	
	display: flex;
	justify-content: center;
	align-items: center;
}


#illustration_two{
	width:25em;
	flex-shrink: 2;
}


/*Section Three About Us*/

.section_three{
	width:100%;
	height:600px;
	background-color: #e5989b;
	display:flex;
	justify-content: center;
	align-items: center;

}
.About_us{
	width: 80%;
	height:400px;
	background-color: #2b2d42;
	border-radius:20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
span.About_us_heading{
	font-size: 40px;
    font-family: 'Mate SC', serif;
    font-weight: 900;
    color: #b1a7a6;
    line-height: 3cm;
}
.About_us_content{
	color: white;
    padding: 10%;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    line-height: 1.2cm;
}

/*Section four footer*/

.section_four{
	width:100%;
	height:400px;
	background-color: #161a1d;
	display:flex;
	flex-direction: column;
	padding: 2%;
}
.section_four_title{
	justify-self: flex-start;
	align-self:center;
	color: white;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
}

.section_four_footer{
	display: flex;
	justify-self: flex-end;
	margin-top: auto;
}
.section_four_footer_one{
	justify-self: flex-start;
	color: white;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
}

.section_four_footer_two{
	justify-self:flex-end;
	color: white;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
	margin-left: auto;
}
a.end_nav{
	text-decoration: none !important;
	color: white !important;
}

@media(max-width:771px){
	.section1{
		box-sizing: border-box;
		height: fit-content;
	}
	.content_main{
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	#content_main_one_LineOne{
		font-size: 2em;
	}
	#content_main_one_LineTwo{
		font-size:3.8em;
	}
	#content_main_one_LineThree{
		font-size:3em;
	}
	#content_main_one_LineFour{
		font-size:2em;
	}
	#content_main_one_LineFive{
		font-size:2.2em;
	}
	#illustration_one{
		box-sizing: border-box;
		width:25em;
	}
	.section_two{
		box-sizing: border-box;
		width: 100%;
		height:1000px;
		justify-content: center;
		align-items:center;
	}
	.pricing_panel{
		margin: auto;
		height:1000px;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.Free_Tier{
		width: 20em;
		height: 28em;

	}
	.Paid_Tier{
		width: 20em;
		height: 28em;
	}
	p.table_heading{
		font-size: 2em;
	}
	#illustration_two{
		display: none;
	}
	.pricing_panel_illustration{
		display: none;
	}
	header{
		box-sizing: border-box;
	}
	.section_three{
		height:40rem;
	}
	.About_us{
		height:86%;
		width: 90%;
	}
	.About_us_content{
		font-size: 1.4rem;
		line-height: 1.2cm;
	}
	.section_four_title p{
		font-size: 1.6rem;
		line-height: 1cm;
		text-align: center;
	}
	.section_four_footer{
		flex-direction:column;
		align-items: center;
		text-align: center;
	}
	.section_four_footer_two{
		margin: auto;
		align-self: center;
		text-align: center;
		font-size: 1.2rem;
		margin-top: 15px;
	}
}